body {
    background-color: #dddbd1;
}
.form-student {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.center {
    position: absolute;
    background: white;
    padding: 10px;
    width: 500px;
    border-top: 10px solid #663399 !important;
    box-shadow: -20px 0px 20px -20px;
    
    
}


.center h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    color: #663399;
}

 .center.gender {
    display: flex;
    align-items: center;
}

.btn1 {
    float: left;
}

.btn2 {
    float: right;
}
